<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="MonthlyRollingFile"
			fileName="${sys:logBaseDir:-/var/log/}article-parser/article-parser-grabber.log"
			filePattern="${sys:logBaseDir:-/var/log/}$${date:yyyy}/app-%d{MM-yyyy}-%i.log">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
		</Root>
		<Logger level="info" name="io.github.pattyler.grabber">
			<AppenderRef ref="MonthlyRollingFile" />
		</Logger>
	</Loggers>
</Configuration>